<div class="general">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.7999376380326!2d-77.0395973258636!3d-12.057281942094754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8c6d103eef1%3A0x21e996eeb5d06b7d!2sSheraton%20Lima%20Historic%20Center!5e0!3m2!1ses!2sco!4v1760725276876!5m2!1ses!2sco"></iframe>


    <div class="content">
        <div class="sub_content_init">
            <p style="color: rgba(193, 193, 193, 0.676); font-size: 14px;">NUESTRA UBICACIÓN</p>
            <h1>CÓMO LLEGAR</h1>

            <p>Sheraton Lima Centro Histórico</p>
            <p>Paseo de la República 170, Lima, Perú, 15001</p>
            <p>Teléfono: +51 1-3155000</p>
        </div>


        <div class="sub_content_second">
            <p><i class="fa-solid fa-plane-up"></i> Aeropuerto Internacional Jorge Chávez</p>
            <div class="line"></div>

            <p>Distancia de la propiedad: 11,0 KM</p>
            <p>Número de teléfono: +51 511-5173100</p><br>

            <p>Este hotel no ofrece servicio de transporte.</p><br>

            <p>Transporte alternativo al aeropuerto:</p>
            <p>Servicio de automóvil privado; tarifa: 50,00 USD (solo ida); se requiere reserva : $50,00 - Solo ida</p>
            <p>Se requiere reservación</p>
        </div>

        <div class="sub_content_second">
            <p><i class="fa-solid fa-van-shuttle"></i> Otros transportes</p>
            <div class="line"></div>

            <p>En la propiedad:</p>
            <p>Servicio de coche privado:</p>
            <p>Servicio de limusina/furgoneta</p><br>

            <p>Cercano:</p><br>

            <p>Estación de autobuses:</p>
            <a href="https://www.cruzdelsur.com.pe/">Cruz del Sur Javier Prado</a>
        </div>

    </div>

    <!-- <div class="next_content">
        <h1>Premios</h1>
    </div> -->
</div>