<h1> Ubicacion </h1>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.875715504822!2d-77.09038752586373!3d-12.052071341997674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c94f01a0b1ad%3A0x2b427006bb97ea0e!2sHotel%20Colonial!5e0!3m2!1ses!2spe!4v1732823807963!5m2!1ses!2spe"
    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


<div class="content">
    <h1> Contactos </h1>
    <div class="celulares">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
            <div class="inforide">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone" style="background-color: #6cb5c7;">
                        <i class="fa-solid fa-mobile-retro"></i>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                        <h4>+51 970193282</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
            <div class="inforide">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone" style="background-color: #6c96c7;">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                        <h4>(01) 6486643</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
            <div class="inforide">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone" style="background-color: #6c96c7;">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                        <h4>(01) 6486642</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <div class="inforide" style="width: 520px;">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone" style="background-color: #c7726c;">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                    <h4>hotelsauna_colonial&#64;hotmail.com</h4>
                </div>
            </div>
        </div>
    </div>

    <h1> Nuestras Redes </h1>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <div class="inforide">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone" style="background-color: #6c6ec7;">
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
                <a href="https://www.facebook.com/HS.COLONIAL" class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                    <h4>Hotel Colonial</h4>
                </a>
            </div>
        </div>
    </div>
</div>