<div class="body">

     <!-- IMAGEN -->
     <div class="image-fondo">
          <img src="https://cache.marriott.com/content/dam/marriott-digital/si/cala/hws/l/limsi/en_us/photo/unlimited/assets/si-limsi-hotel-exterior--16528.jpg"
               alt="Descripción de la imagen">
     </div>

     <!-- CONTENEDOR LOGIN -->
     <div class="card-container">

          <mat-card class="contenedor">

               <div class="content-logi">

                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Sheraton_%281%29.svg/330px-Sheraton_%281%29.svg.png"
                         alt="" class="milogo">

                    <div class="con_circles">
                         <h2>Registrarse</h2>
                         <div *ngIf="!regist" class="circle" style="margin-left: 135px; background-color: #2319df; border-color: #2319df;"></div>
                         <div *ngIf="!regist" class="circle" style="margin-left: 5px; "></div>

                         <div *ngIf="regist" class="circle" style="margin-left: 135px;"></div>
                         <div *ngIf="regist" class="circle" style="margin-left: 5px; background-color: #2319df; border-color: #2319df;"></div>
                    </div>

                    <mat-card-content *ngIf="!regist">
                         <form class="form-custom" [formGroup]="formRegistro">
                              <!-- NOMBRE -->
                              <div class="input-container">
                                   <input matInput formControlName="nombre" class="miinput" required placeholder=" "
                                        (keypress)="soloLetras($event)" maxlength="20" />
                                   <label>Nombres</label>
                              </div>

                              <!-- APELLIDOS -->
                              <div class="input-container">
                                   <input matInput formControlName="apellidos" class="miinput" required placeholder=" "
                                        (keypress)="soloLetras($event)" maxlength="20" />
                                   <label>Apellidos</label>
                              </div>

                              <!-- TELEFONO -->
                              <div class="input-container">
                                   <input matInput formControlName="telefono" class="miinput" required placeholder=" "
                                        (keypress)="soloNumeros($event)" maxlength="9" />
                                   <label>Telefono</label>
                              </div>

                              <!-- BOTONES -->
                              <div class="misbotones">
                                   <button (click)="volver()" class="volver" style="margin-right: 2%;">Volver a Inicio</button>
                                   <button (click)="continuar()" class="continuar">Continuar</button>
                              </div>

                         </form>
                    </mat-card-content>

                    <mat-card-content *ngIf="regist">
                         <form class="form-custom" [formGroup]="formRegistro">

                              <!-- DNI -->
                              <div class="input-container">
                                   <input matInput formControlName="documento" class="miinput" required placeholder=" "
                                        (keypress)="soloNumeros($event)" maxlength="8" />
                                   <label>Documento</label>
                              </div>

                              <!-- CORREO -->
                              <div class="input-container">
                                   <input matInput formControlName="email" class="miinput" required placeholder=" "
                                        maxlength="30" />
                                   <label>Email</label>
                              </div>

                              <!-- CONTRASEÑA -->
                              <div class="input-container">
                                   <input matInput formControlName="password" class="miinput" required placeholder=" "
                                        maxlength="20" type="password" style="font-size: 25px; padding: 7px 10px;" />
                                   <label>Contraseña</label>
                              </div>

                              <!-- BOTONES -->
                              <div class="misbotones">
                                   <button (click)="Regresar()" class="volver" style="margin-right: 2%;">Regresar</button>
                                   <button (click)="registrarse()" class="continuar">Registrarse</button>
                              </div>
                         </form>
                    </mat-card-content>
               </div>
               <div class="creador"> Creado por TuPapi</div>
          </mat-card>
     </div>
</div>