.body {
     background-color: rgb(255, 255, 255);
     display: flex;
     height: 100vh;
     width: 100vw;
}

.image-fondo {
     flex: 0 0 70%; /* Ocupa el 80% del ancho */
     height: 100%;
     overflow: hidden;
}

.image-fondo img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.card-container {
     flex: 0 0 30%; /* Ocupa el 20% del ancho */
     display: flex;
     height: 100%;
     justify-content: center; /* Centrar horizontalmente */
     align-items: center; /* Centrar verticalmente */
}

.contenedor {
     height: 100%;
     width: 100%;
     align-items: center;
     justify-content: center;

     display: flex;
     flex-direction: column; /* Organiza los hijos en columna */
     justify-content: space-between; /* Espacia elementos: header, contenido, footer */
     /* height: 100%; */
}

.form-custom {
     min-width: 150px;
     width: 100%;
}

.input-custom {
     width: 100%;
}

mat-card-title{
     font-size: 32px;
     margin-bottom: 50px;
}

.creador {
     text-align: center; /* Centra el texto horizontalmente */
     margin-top: 8px; /* Espacio opcional superior */
     font-size: 15px; /* Tamaño de fuente ajustado */
     color: #777; /* Color sutil */
     margin-bottom: 20px;
}

.content-logi{
     margin-top: 20%;
}

/* .card-container {
     display: flex;
     justify-content: center;
     
     align-items: center; 
    
     margin-top: 1%;
}
.contenedor{
     height: 350px;
     width: 600px;
}

.form-custom {
     min-width: 150px;
     width: 100%;
}

.input-custom {
     width: 100%;
}

.body{
     background-color: rgb(73, 71, 83);
     display: flex;
     justify-content: center;
     
     align-items: center; 
     height: 100dvh;
} */