.card-container {
    width: 100%;
    background-color: rgb(247, 247, 247);
    /* border: solid 1px rgb(240, 240, 240); */
    /* border-radius: 20px;  */
    min-height: 100vh;
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-container_2 {
    display: flex;               /* Utiliza flexbox */
    flex-wrap: wrap;            /* Permite que las tarjetas se envuelvan a la siguiente línea */
    justify-content: center;     /* Centra las tarjetas horizontalmente */
    margin: 0 auto;             /* Centra el contenedor */
    /* margin-top: 10px; */
}

.card {
    opacity: 0;               /* Comienza invisible */
    transform: translateY(20px); /* Empieza desplazada hacia abajo */
    animation: fadeIn 0.5s ease-out forwards; /* Animación suave */

    display: flex;            /* Establece .mat-card como un contenedor flexbox */
    justify-content: center;  /* Centra los elementos horizontalmente */
    align-items: center;      /* Centra los elementos verticalmente */
    flex-direction: row;      /* Organiza los elementos en una fila */
    gap: 5px;                /*Espacio entre los elementos*/
    /* padding: 20px ;            Relleno dentro de la tarjeta */
    box-shadow: 5 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border-radius: 3px;       /* Bordes redondeados */
    background-color: #ffffff; /* Fondo blanco */
    /* border-color: black solid ; */
    width: 200vh;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1px;
}

.card:nth-child(1) {
    animation-delay: 0.1s; /* Primera tarjeta: aparece después de 0.1s */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.card:hover {
    background-color: #4f4f4f; /* Color al pasar el ratón sobre la barra */
    color: white;
}

.card_principal {
    display: flex;            /* Establece .mat-card como un contenedor flexbox */
    justify-content: center;  /* Centra los elementos horizontalmente */
    align-items: center;      /* Centra los elementos verticalmente */
    flex-direction: row;      /* Organiza los elementos en una fila */
    gap: 2px;                /*Espacio entre los elementos*/
    /* padding: 20px ;            Relleno dentro de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px;       /* Bordes redondeados */
    width: 200vh;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(247, 174, 39);
}

.datos{
    width: 35%;
}

.datos_simple{
    width: 30%;
}

.datos_simple_1{
    width: 20%;
}


/* Estilos para el botón */
.button {
    background-color: rgb(255, 255, 255); /* Fondo transparente */
    color: rgb(43, 41, 41);; /* Color del texto */
    border: 2px solid beige; /* Bordes blancos */
    padding: 3px 6px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados */
    border-color: rgb(223, 165, 90);
    cursor: pointer; /* Cambia el cursor a puntero */
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 16%;
    margin-top: 0px;
    margin-bottom: 16px;
}

/* Cambios en el botón al pasar el cursor */
.button:hover {
    background-color: rgb(223, 165, 90);
    color: white /* Texto en color oscuro */
}

.hedd{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
    margin-top: 10px;
}

.actualizar{
    font-size: 20px;
}