.card-container {
    width: 100%;
    background-color: rgb(247, 247, 247);
    min-height: 100vh;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-container_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s ease-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    box-shadow: 5 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: #ffffff;
    width: 200vh;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1px;
}

.card:nth-child(1) {
    animation-delay: 0.1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    background-color: #8f8fe9;
    color: white;
}

.card_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 200vh;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: rgb(247, 174, 39); */
    color: white;
    background: linear-gradient(90deg, #5d5fef, #7a7bff);
}

.datos {
    width: 35%;
}

.datos_simple {
    width: 30%;
}

.datos_simple_1 {
    width: 20%;
}


/* Estilos para el botón */
.button {
    background-color: rgb(255, 255, 255);
    color: rgb(43, 41, 41);
    border: 2px solid beige;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 5px;
    border-color: rgb(223, 165, 90);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 16%;
    margin-top: 0px;
    margin-bottom: 16px;
}

/* Cambios en el botón al pasar el cursor */
.button:hover {
    background-color: rgb(223, 165, 90);
    color: white;
}

.hedd {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
    margin-top: 10px;
}

.actualizar {
    font-size: 20px;
}