<header>
    <!--div class="image-container"
         style="background-image: url('https://images.trvl-media.com/lodging/20000000/19390000/19381300/19381261/ddeac2f5.jpg?impolicy=resizecrop&rw=575&rh=575&ra=fill')">
    </!--div-->
    <div class="image-container">
         <img src="https://images.trvl-media.com/lodging/20000000/19390000/19381300/19381261/ddeac2f5.jpg?impolicy=resizecrop&rw=575&rh=575&ra=fill" alt="Descripción de la imagen" class="image">
         <div class="overlay"></div> <!-- Capa oscura -->
         <h3 class="sub-title">Hospédate en el corazón de Callao. Vive una estancia cómoda y accesible con nosotros.</h3>
     </div>
</header>

<section>
    <div class="container ">
         <h2>Servicios</h2>
         <p>En el Hotel Colonial contamos con una gran variedad de Servicios de los cuales podran ver a continuacion.</p>

         
         <div class="card-container">
              <mat-card class="card"> <!-- Sauna -->
                   <i class="fa-solid fa-people-line fa-3x"></i>
                   <h3>Sauna</h3>
                   <p class="p_card">Relájate y detoxifica tu cuerpo en nuestra sauna, ideal para revitalizarte y desconectar del estrés.</p>
              </mat-card>
              <mat-card class="card"> <!-- Habitaciones -->
                   <i class="fa-solid fa-bed fa-3x"></i>
                   <h3>Habitaciones</h3>
                   <p class="p_card">Disfruta del confort y privacidad de nuestras habitaciones, el refugio perfecto para tu descanso.</p>
              </mat-card>
              <mat-card class="card"> <!-- Bar -->
                   <i class="fa-solid fa-martini-glass fa-3x"></i>
                   <h3>Bar</h3>
                   <p class="p_card">Saborea deliciosos cócteles en un ambiente acogedor. Perfecto para relajarse y socializar.</p>
              </mat-card>
              <mat-card class="card"> <!-- Piscina -->
                   <i class="fa-solid fa-person-swimming fa-3x"></i>
                   <h3>Piscina</h3>
                   <p class="p_card">Refréscate y relájate en nuestra piscina, el lugar ideal para disfrutar de un día soleado o relajante.</p>
              </mat-card>
              <mat-card class="card"> <!-- Jacuzzi -->
                   <i class="fa-solid fa-hot-tub-person fa-3x"></i>
                   <h3>Jacuzzi</h3>
                   <p class="p_card">Sumérgete en nuestro jacuzzi y disfruta de un masaje relajante que aliviará el estrés y revitalizará tu cuerpo.</p>
              </mat-card>
              <mat-card class="card"> <!-- Acupuntura -->
                   <i class="fa-regular fa-heart fa-3x"></i>
                   <h3>Acupuntura</h3>
                   <p class="p_card">Experimenta los beneficios de la acupuntura, aliviando el dolor y equilibrando tu bienestar. ¡Siente el cambio!</p>
              </mat-card>
         </div>
    </div>
</section>