<header>
     <!--div class="image-container"
         style="background-image: url('https://images.trvl-media.com/lodging/20000000/19390000/19381300/19381261/ddeac2f5.jpg?impolicy=resizecrop&rw=575&rh=575&ra=fill')">
    </!--div-->
     <div class="image-container">
          <img src="https://cache.marriott.com/is/image/marriotts7prod/si-limsi-hotel-exterior--16528:Pano-Hor?wid=1600&fit=constrain"
               alt="Descripción de la imagen" class="image">
          <div class="overlay"></div> <!-- Capa oscura -->
          <h3 class="sub-title">Sheraton Lima Centro Histórico</h3>
     </div>
</header>

<section>

     <div class="container">
          <h3 style="font-size: 24px;">INFORMACIÓN DEL HOTEL</h3>

          <div class="cont_inf">
               <div class="div" style="width: 30%;">
                    <p><i class="fa-regular fa-clock"></i> Hora de entrada: 15:00 horas</p>
                    <p><i class="fa-regular fa-clock"></i> Salida: 12:00 pm</p>
                    <p><i class="fa-regular fa-circle-xmark"></i> Propiedad libre de humo</p>
               </div>
               <div class="div" style="width: 33%;">
                    <p><i class="fa-solid fa-paw"></i> Política de mascotas</p>
                    <p class="p_inf_desc">Se admiten mascotas</p>
                    <p class="p_inf_desc" style="line-height: 1;">Solo aceptamos perros de hasta 40 libras con una tarifa
                         de USD 50 más impuestos por estadía.</p>
                    <p class="p_inf_desc">Peso máximo de la mascota: 18,0 kg</p>
                    <p class="p_inf_desc">Número máximo de mascotas en la habitación: 2</p>
               </div>
               <div class="div" style="width: 33%;">
                    <p><i class="fa-solid fa-square-parking"></i> Aparcamiento</p>
                    <p class="p_inf_desc">Estacionamiento gratuito en el lugar</p>
                    <p class="p_inf_desc">Estación de carga para vehículos eléctricos</p>
               </div>
          </div>

     </div>


     <div class="container">
          <h3 style="font-size: 24px;">SERVICIOS DESTACADOS EN EL LUGAR</h3>

          <div class="card-container">
               <mat-card class="card">
                    <h3>Servicios de la propiedad en el lugar</h3>
                    <div class="sub_card">
                         <p><i class="fa-solid fa-circle-check"></i> Sostenibilidad</p>
                         <p><i class="fa-solid fa-circle-check"></i> Restaurante en el lugar</p>
                         <p><i class="fa-solid fa-circle-check"></i> Piscina al aire libre</p>
                         <p><i class="fa-solid fa-circle-check"></i> Espacio para reuniones</p>
                         <p><i class="fa-solid fa-circle-check"></i> Lavandería en el lugar</p>
                    </div>
               </mat-card>
               <mat-card class="card">
                    <h3>Servicios de la habitación en el lugar</h3>
                    <div class="sub_card">
                         <p><i class="fa-solid fa-circle-check"></i> Wi-Fi gratuito </p>
                         <p><i class="fa-solid fa-circle-check"></i> Llave móvil </p>
                    </div>
               </mat-card>
               <mat-card class="card">
                    <h3>Servicios del hotel en el lugar</h3>
                    <div class="sub_card">
                         <p><i class="fa-solid fa-circle-check"></i> Servicio de limpieza en seco con valet</p>
                         <p><i class="fa-solid fa-circle-check"></i> Limpieza en seco el mismo día</p>
                         <p><i class="fa-solid fa-circle-check"></i> Servicio de habitaciones</p>
                         <p><i class="fa-solid fa-circle-check"></i> Llamadas de atención</p>
                         <p><i class="fa-solid fa-circle-check"></i> Solicitud de servicio</p>
                         <p><i class="fa-solid fa-circle-check"></i> Servicio de limpieza diario</p>
                    </div>
               </mat-card>

          </div>
     </div>

      <div class="container">
          <div class="card-container">
               <mat-card class="card inf_ex">
                    <img src="https://cache.marriott.com/is/image/marriotts7prod/si-yyzgs-lobby-reception--10266:Square?wid=1200&fit=constrain" alt="">
                    <h3>Nos vemos en el vestíbulo</h3>
                    <p>Pase tiempo en el lobby del Sheraton. Hemos creado espacios para conectar de maneras únicas e innovadoras.</p>
               </mat-card>
               <mat-card class="card inf_ex">
                    <img src="https://cache.marriott.com/is/image/marriotts7prod/si-restaurant-reception-15862:Square?wid=1200&fit=constrain" alt="">
                    <h3>Servicio de bienvenida</h3>
                    <p>Con más de 85 años de acogedora hospitalidad, nuestros asociados harán que usted quiera volver otra vez.</p>
               </mat-card>
               <mat-card class="card inf_ex">
                    <img src="https://cache.marriott.com/content/dam/marriott-renditions/WAWSI/wawsi-city-view-0059-sq.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1200px:*" alt="">
                    <h3>Destinos globales</h3>
                    <p>Busque hoteles Sheraton en el corazón de ciudades de todo el mundo.</p>
               </mat-card>
          </div>
     </div>
</section>