.card-container {
    width: 100%;
    min-height: 100vh;
    background-color: #f2f6ff;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.reserva-card {
    width: 430px;
    height: 300px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.reserva-card:hover {
    transform: scale(1.03);
}

.tittle {
    font-size: 25px;
    color: #6c63ff;
    font-family: "Momo Trust Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.reserva-header {
    background: linear-gradient(90deg, #463edae8, #6161d6);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    font-weight: 500;
}

.reserva-id {
    display: flex;
    align-items: center;
    gap: 8px;
}

.estado {
    background-color: #ffffff99;
    border-radius: 20px;
    padding: 4px 12px;
    font-size: 13px;
}

.confirmada {
    background-color: #58d68d33;
    color: #caded7;
}

.reserva-body {
    padding: 20px;
}

.reserva-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 10px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.info-item i {
    color: #6c63ff;
    font-size: 32px;
}

.info-title {
    margin: 0;
    font-size: 12px;
    color: #777;
    text-transform: uppercase;
}

.info-value {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.reserva-footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-label {
    font-size: 15px;
    color: #737373;
    font-weight: bold;
}

.total-value {
    font-size: 20px;
    color: #6c63ff;
    font-weight: 700;
}