<div class="layout">
    <!-- CONTENIDO NAVBAR -->
    <nav class="navbar">

        <!-- CONTENIDO USUARIO -->
        <!-- <div class="content-user">
            <i class="fa-solid fa-user fa-2x icon-user"></i>
            <div class="NombreUsuario">{{ NombreUsuario }}</div>
        </div> -->

        <div class="content-nav-body">

            <!-- TÍTULO Y ENLACES -->
            <div class="nav-content">
                <div class="title"> {{ title }}</div>
                <div style="font-size: 18px; margin-top: 5%;">

                    <button (click)="setActivo('inicio')" [class.activo]="botonActivo === 'inicio'" (click)="inicio()" *ngIf="esAdministrador"><i class="fa-solid fa-house"></i>Inicio</button>
                    <button (click)="setActivo('mis_reserva')" [class.activo]="botonActivo === 'mis_reserva'" (click)="mis_reserva()" ><i class="fa-solid fa-bookmark"></i>Mis Reservas</button>
                    <button (click)="setActivo('realizar_reserva')" [class.activo]="botonActivo === 'realizar_reserva'" (click)="realizar_reserva()" ><i class="fa-solid fa-bookmark"></i>Realizar Reservas</button>
                    <button (click)="setActivo('contacto')" [class.activo]="botonActivo === 'contacto'" (click)="contacto()" ><i class="fa-solid fa-location-dot"></i>Ubicacion</button>
                    <button (click)="setActivo('dirig_listuser')" [class.activo]="botonActivo === 'dirig_listuser'" (click)="dirig_listuser()" *ngIf="esAdministrador"><i class="fa-solid fa-users"></i>Lista de Usuarios</button>
                    <button (click)="setActivo('dirig_listreserv')" [class.activo]="botonActivo === 'dirig_listreserv'" (click)="dirig_listreserv()" *ngIf="esAdministrador"><i class="fa-solid fa-database"></i>Lista de Reservas</button>
                    <button (click)="setActivo('dirig_dashboard')" [class.activo]="botonActivo === 'dirig_dashboard'" (click)="dirig_dashboard()" *ngIf="esAdministrador"><i class="fa-solid fa-grip"></i>Dashboard</button>

                </div>
            </div>

            <button (click)="cerrarSesion()"><i class="fa-solid fa-arrow-right-from-bracket"></i>Cerrar Sesion</button>

        </div>

    </nav>

    <!-- CONTENIDO BODY -->
    <main class="content">
        <div style="min-height: 100vh;">
            <router-outlet></router-outlet>
        </div>
        <footer>© creado por TuPapiRiko</footer>
    </main>
</div>