h2{
    text-align: center;
}

.inf-tile{
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    font-size: 20px;
    width: 150px;
}

.inf-data{
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    font-size: 20px;
    width: 220px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
}

.columna-izquierda, .columna-derecha {
    flex: 1;
}

.columna-izquierda h4, .columna-derecha h4 {
    margin: 5px 0;
}


/* Estilos para el botón */
button {
    background-color: rgb(255, 255, 255);
    color: #6868dc;
    border: 2px solid beige;
    border-color: #6868dc;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Cambios en el botón al pasar el cursor */
button:hover {
    background-color: #6868dc;
    color: white;
}

.cont-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

mat-select{
    font-size: 18px;
}