.card-container-general{
    min-height: 100vh;
    background-color: rgb(247, 247, 247);
}
.card-container {
    width: 100%;
    min-height: 20vh;
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-container_2 {
    display: flex;               /* Utiliza flexbox */
    flex-wrap: wrap;            /* Permite que las tarjetas se envuelvan a la siguiente línea */
    justify-content: center;     /* Centra las tarjetas horizontalmente */
    margin: 0 auto;             /* Centra el contenedor */
    /* margin-top: 10px; */
}

.card {
    opacity: 0;               /* Comienza invisible */
    transform: translateY(20px); /* Empieza desplazada hacia abajo */
    animation: fadeIn 0.3s ease-out forwards; /* Animación suave */

    display: flex;            /* Establece .mat-card como un contenedor flexbox */
    justify-content: center;  /* Centra los elementos horizontalmente */
    align-items: center;      /* Centra los elementos verticalmente */
    flex-direction: row;      /* Organiza los elementos en una fila */
    gap: 2px;                /*Espacio entre los elementos*/
    /* padding: 20px ;            Relleno dentro de la tarjeta */
    box-shadow: 5 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border-radius: 3px;       /* Bordes redondeados */
    background-color: #ffffff; /* Fondo blanco */
    /* border-color: black solid ; */
    width: 85%;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1px;
}
.card:nth-child(1) {
    animation-delay: 0.1s; /* Primera tarjeta: aparece después de 0.1s */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.card:hover {
    background-color: #6ad9eb; /* Color al pasar el ratón sobre la barra */
  }

.card_principal {
    display: flex;            /* Establece .mat-card como un contenedor flexbox */
    justify-content: center;  /* Centra los elementos horizontalmente */
    align-items: center;      /* Centra los elementos verticalmente */
    flex-direction: row;      /* Organiza los elementos en una fila */
    gap: 2px;                /*Espacio entre los elementos*/
    /* padding: 20px ;            Relleno dentro de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px;       /* Bordes redondeados */
    width: 85%;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(247, 174, 39);
}

.datos{
    min-width: 30%;
    /* background-color: rebeccapurple; */
}

.datos_simple{
    width: 20%;
    /* background-color: rebeccapurple; */
}
