.card-container-general {
    min-height: 100vh;
    background-color: rgb(247, 247, 247);
}

.card-container {
    width: 100%;
    min-height: 20vh;
}

.card-container_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.3s ease-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2px;
    box-shadow: 5 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    background-color: #ffffff;
    width: 85%;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.card:nth-child(1) {
    animation-delay: 0.1s;
}
.tittle {
    font-size: 25px;
    color: #6c63ff;
    font-family: "Momo Trust Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    background-color: #8f8fe9;
    color: white;
}

.card_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px 4px 0px 0px;
    width: 85%;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    background: linear-gradient(90deg, #5d5fef, #7a7bff);
}

.datos {
    min-width: 30%;
}

.datos_simple {
    width: 20%;
}